.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.button {
	display: block;
	width: 100%;
	cursor: pointer;
	border: none;
	outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

.main-header {
	min-height: 600px;
	background-repeat: no-repeat;
	-webkit-background-size: cover contain;
	background-size: cover contain;
	background-position: top center;
}

.main-header--fixed {
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: background-color .1s ease-in;
	-o-transition: background-color .1s ease-in;
	transition: background-color .1s ease-in;
}

.main-header__holder {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 15px;
}

.main-header__logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
}

.main-header__image {
	max-width: 30px;
}

.main-header__image img {
	display: block;
}

.main-header__title {
	font-size: 30px;
	line-height: 1;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
	padding-left: 18px;
}

.main-header__user {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -9px;
}

.main-header__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 9px;
	margin-bottom: 20px;
}

.main-header__col {
	width: 20px;
	height: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 18px;
}

.main-header__col i {
	display: block;
	font-size: 20px;
	color: #fff;
}

.main-header__data {
	font-size: 14px;
	line-height: 1.25;
	color: #ffffff;
	font-weight: 200;
	text-transform: uppercase;
}

.main-header__data--phone {
	font-size: 18px;
}

.main-header__row {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-header__block {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-top: 1px solid #fff;
	padding: 15px 0;
}

.main-header__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-header__list li {
	padding: 0 20px;
}

.main-header__list li:first-child {
	padding-left: 0px;
}

.main-header__list:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	height: 2px;
	background-color: #fff;
	-webkit-transition: 0.3s left, 0.5s width;
	-o-transition: 0.3s left, 0.5s width;
	transition: 0.3s left, 0.5s width;
}

.main-header__description {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 15px;
}

.main-header__link {
	display: block;
	font-size: 16px;
	line-height: 1.8;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}

.contrast-bg {
	background-color: rgba(18, 20, 26, 0.9);
}

.language-chooser {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.language-chooser li {
	font-size: 16px;
	line-height: 2;
	padding: 0px 10px;
	text-transform: uppercase;
	font-family: Montserrat-Regular, sans-serif;
}

.language-chooser li:last-child {
	padding-right: 0px;
}

.language-chooser li:first-child {
	padding-left: 0px;
}

.language-chooser li a {
	color: #fff;
}

.language-chooser li a:hover {
	text-decoration: underline;
}

.language-chooser li.active a {
	color: #fff;
	font-weight: 900;
}

.language-chooser li.active a:hover {
	text-decoration: none;
}

.mobile-wrap {
	display: none;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #fff;
	-webkit-transition: 0.5s width;
	-o-transition: 0.5s width;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	left: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.line-burger:after {
	top: -webkit-calc(100% + 5px);
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: -webkit-calc(100% + 5px);
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

.about {
	margin-top: -350px;
}

.about__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 99px;
}

.about__icon img {
	max-width: 48px;
	display: block;
}

.about__title {
	font-size: 48px;
	line-height: 1;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 25px;
}

.about__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	margin-bottom: 75px;
}

.about__item {
	width: 50%;
	background-color: #ffffff;
}

.about__item--content {
	padding: 45px;
}

.about__item img {
	display: block;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.about__subtitle {
	font-size: 36px;
	line-height: 1;
	color: #272727;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 30px;
}

.about__text {
	padding-bottom: 30px;
}

.about__text p {
	font-size: 16px;
	line-height: 1.8;
	color: #808080;
	font-style: italic;
}

.about__link {
	position: relative;
	font-size: 16px;
	line-height: 1.8;
	text-transform: uppercase;
	color: #53ceb8;
	padding-right: 37px;
	font-weight: bold;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.about__link:hover {
	color: #24594f;
}

.about__link:hover:after {
	background-color: #24594f;
}

.about__link:hover:before {
	border-color: #24594f;
}

.about__link:after {
	content: '';
	position: absolute;
	top: -webkit-calc(50% - 1px);
	top: calc(50% - 1px);
	right: 0;
	width: 20px;
	height: 2px;
	background-color: #53ceb8;
	-webkit-transition: 0.3s background-color;
	-o-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.about__link:before {
	content: '';
	position: absolute;
	top: -webkit-calc(50% - 5px);
	top: calc(50% - 5px);
	right: 1px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #53ceb8;
	border-right: 2px solid #53ceb8;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: 0.3s border-color;
	-o-transition: 0.3s border-color;
	transition: 0.3s border-color;
}

.page-link {
	cursor: pointer;
	display: block;
	max-width: 200px;
	background-color: #fff;
	border: none;
	outline: none;
	margin: 0 auto;
	margin-bottom: 70px;
}

.page-link svg {
	display: block;
	width: 20px;
	height: 30px;
	margin: 0 auto;
}

.page-link svg path {
	-webkit-transition: 0.3s fill;
	-o-transition: 0.3s fill;
	transition: 0.3s fill;
}

.page-link:hover svg path {
	fill: #24594f;
}

.page-link:hover .page-link__details {
	color: #24594f;
}

.page-link__details {
	font-size: 16px;
	line-height: 1.8;
	color: #53ceb8;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 35px;
	font-weight: 200;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.data {
	margin-bottom: 55px;
}

.data__wrap {
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.data__wrap .data__box:last-child .data__item--image {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

.data__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.data__item {
	width: 50%;
}

.data__item--content {
	padding: 45px 50px;
	padding-bottom: 40px;
}

.data__item--image img {
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.data__title {
	font-size: 36px;
	line-height: 1;
	color: #333333;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 35px;
	border-bottom: 2px solid rgba(83, 206, 184, 0.5);
	margin-bottom: 30px;
	font-weight: 200;
}

.data__text p {
	font-size: 16px;
	color: #535353;
	line-height: 1.8;
	font-weight: 400;
}

.data__text p:not(:last-child) {
	padding-bottom: 27px;
}

.main-footer {
	margin-bottom: 12px;
}

.main-footer__desc p {
	font-size: 14px;
	line-height: 2.1;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
}

.msg-modal {
	position: fixed;
	top: 30%;
	left: -webkit-calc(50% - 150px);
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px 30px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	background-color: #851216;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	line-height: 1.5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 20;
	-webkit-transition: 0.3s visibility, 0.3s opacity;
	-o-transition: 0.3s visibility, 0.3s opacity;
	transition: 0.3s visibility, 0.3s opacity;
}

.msg-modal-active {
	opacity: 1;
	visibility: visible;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	color: #252525;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "Montserrat";
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.container--header {
	max-width: 1620px;
}

.container--data {
	max-width: 1620px;
}

.info {
	padding-top: 60px;
}

.info__title {
	font-size: 60px;
	line-height: 1;
	color: #a30049;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 50px;
}

.info__content {
	position: relative;
	z-index: 3;
}

.info .stock__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.info .stock__item {
	width: -webkit-calc(100% / 3 - 40px);
	width: calc(100% / 3 - 40px);
	margin: 0 20px;
	margin-bottom: 40px;
}

.nav-links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.navigation {
	margin: 0 auto;
	text-align: center;
}

.navigation a,
.navigation span {
	text-decoration: none;
	font-size: 14px;
	line-height: 1.4;
	color: #851216;
	font-weight: 200;
	-webkit-transition: 0.3s -webkit-box-shadow;
	transition: 0.3s -webkit-box-shadow;
	-o-transition: 0.3s box-shadow;
	transition: 0.3s box-shadow;
	transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
}

.navigation a:hover {
	background-color: #851216;
	color: #fff;
}

.navigation .page-numbers {
	display: block;
	max-width: 31px;
	width: 100%;
	border: 1px solid #bc7e80;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 8px;
	margin: 0px 8px;
	font-weight: 400;
	-webkit-transition: 0.3s color, 0.3s border, 0.3s background-color;
	-o-transition: 0.3s color, 0.3s border, 0.3s background-color;
	transition: 0.3s color, 0.3s border, 0.3s background-color;
}

.navigation .page-numbers.current {
	cursor: default;
	background-color: #851216;
	border: 1px solid #851216;
	color: #fff;
}

.contacts__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	margin-bottom: 47px;
}

.contacts__item {
	width: 50%;
}

.contacts__item--info {
	background-color: #f7f7f7;
	padding: 50px 44px;
}

.contacts__item--data {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	padding: 43px 33px;
}

.contacts__title {
	font-size: 36px;
	line-height: 1;
	color: #535353;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 25px;
}

.contacts__title--user {
	color: #ffffff;
	border-bottom: 1px solid #fff;
	padding-bottom: 28px;
	margin-bottom: 35px;
}

.contacts__text {
	padding-bottom: 30px;
}

.contacts__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #535353;
	font-weight: 200;
}

.contacts__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 25px;
}

.contacts__col {
	width: 20px;
	height: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 18px;
}

.contacts__col i {
	display: block;
	font-size: 20px;
	color: #53ceb8;
}

.contacts__data {
	font-size: 18px;
	line-height: 1.25;
	color: #535353;
	font-weight: 200;
	text-transform: uppercase;
}

.contacts__data--phone {
	font-size: 25px;
}

.contacts__desc p {
	font-size: 18px;
	line-height: 2;
	color: #5b5b5b;
	font-weight: 200;
}

.contacts__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 18px;
}

.contacts__block--name {
	margin-bottom: 24px;
}

.contacts__block--msg {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.contacts__block--msg label {
	padding-top: 19px;
}

.contacts__block label {
	cursor: pointer;
	display: inline-block;
	max-width: 150px;
	font-size: 16px;
	line-height: 1.8;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	color: #ffffff;
}

.contacts__block input,
.contacts__block textarea {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f7f7f7;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 14px 15px;
}

.contacts__block input::-webkit-input-placeholder,
.contacts__block textarea::-webkit-input-placeholder {
	font: inherit;
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
	text-transform: uppercase;
	font-weight: 200;
}

.contacts__block input::-moz-placeholder,
.contacts__block textarea::-moz-placeholder {
	font: inherit;
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
	text-transform: uppercase;
	font-weight: 200;
}

.contacts__block input:-ms-input-placeholder,
.contacts__block textarea:-ms-input-placeholder {
	font: inherit;
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
	text-transform: uppercase;
	font-weight: 200;
}

.contacts__block input::-ms-input-placeholder,
.contacts__block textarea::-ms-input-placeholder {
	font: inherit;
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
	text-transform: uppercase;
	font-weight: 200;
}

.contacts__block input::placeholder,
.contacts__block textarea::placeholder {
	font: inherit;
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
	text-transform: uppercase;
	font-weight: 200;
}

.contacts__block input:focus::-webkit-input-placeholder,
.contacts__block textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

.contacts__block input:focus::-moz-placeholder,
.contacts__block textarea:focus::-moz-placeholder {
	color: transparent;
}

.contacts__block input:focus:-ms-input-placeholder,
.contacts__block textarea:focus:-ms-input-placeholder {
	color: transparent;
}

.contacts__block input:focus::-ms-input-placeholder,
.contacts__block textarea:focus::-ms-input-placeholder {
	color: transparent;
}

.contacts__block input:focus::placeholder,
.contacts__block textarea:focus::placeholder {
	color: transparent;
}

.contacts__block textarea {
	min-height: 130px;
}

.contacts__btn {
	font: inherit;
	display: block;
	max-width: 188px;
	width: 100%;
	font-size: 18px;
	line-height: 1.6;
	color: #ffffff;
	margin-left: auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: #53ceb8;
	text-transform: uppercase;
	padding: 10px 8px;
	padding-bottom: 11px;
	font-weight: 200;
	-webkit-transition: 0.3s background-color;
	-o-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.contacts__btn[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.contacts__btn:not(:disabled) {
	cursor: pointer;
}

.contacts__btn:not(:disabled):hover {
	background-color: #24594f;
}

.contacts__error {
	padding-bottom: 12px;
	color: #cc0000;
	text-transform: uppercase;
	margin-left: 150px;
	font-weight: bold;
}

.diagram__title {
	font-size: 36px;
	line-height: 1;
	color: #333333;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 35px;
}

.diagram__title span {
	display: block;
	font-size: 18px;
	line-height: 1.6;
	color: #53ceb8;
	font-weight: 200;
	text-transform: uppercase;
	padding-top: 5px;
}

.diagram__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.diagram__col {
	margin-bottom: 60px;
}

.diagram__col--content {
	width: 400px;
	padding: 40px 35px;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.diagram__col--data {
	width: -webkit-calc(100% - 400px);
	width: calc(100% - 400px);
	padding-right: 15px;
}

.diagram__subtitle {
	font-size: 24px;
	line-height: 1.25;
	color: #333333;
	font-weight: 200;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(83, 206, 184, 0.5);
	padding-bottom: 28px;
	margin-bottom: 25px;
}

.diagram__text p {
	font-size: 16px;
	line-height: 1.8;
	color: #555555;
	font-weight: 200;
}

canvas {
	height: 100%;
}

.single {
	margin-top: -400px;
}

.single__wrap {
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 12px;
	margin-bottom: 57px;
}

.single__content {
	padding: 0px 45px;
}

.single__content i {
	display: block;
	font-size: 16px;
	line-height: 1.8;
	color: #808080;
	font-style: italic;
	padding-bottom: 35px;
}

.single__content p {
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
	padding-bottom: 38px;
}

.single__title {
	font-size: 36px;
	color: #272727;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 35px;
}

.single__image {
	margin-bottom: 35px;
}

.single__image img {
	display: block;
	width: 100%;
}

.breadcrumbs__list {
	margin-bottom: 15px;
}

.breadcrumbs__list li {
	display: inline-block;
	text-transform: uppercase;
}

.breadcrumbs__list li a {
	position: relative;
	margin-right: 7px;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.breadcrumbs__list li a:hover {
	color: rgba(39, 39, 39, 0.6);
}

.breadcrumbs__list li a:after {
	margin-left: 9px;
	content: '/';
	color: #272727;
}

.breadcrumbs__list li,
.breadcrumbs__list a {
	font-size: 16px;
	line-height: 1.3;
	color: #272727;
	font-weight: 200;
}

@media screen and (max-width: 1250px) {

.main-header__title {
	font-size: 22px;
	padding-left: 10px;
}

}

@media screen and (max-width: 1150px) {

.main-header__holder {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-header__logo {
	margin: 0 auto;
	margin-bottom: 20px;
}

.main-header__user {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 -7px;
}

.main-header__box {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0 7px;
	margin-bottom: 20px;
}

.info .stock__item {
	width: -webkit-calc(100% / 2 - 40px);
	width: calc(100% / 2 - 40px);
}

}

@media screen and (max-width: 960px) {

.about {
	margin-top: -350px;
}

.about__title {
	font-size: 26px;
	text-align: center;
}

.about__item {
	width: 100%;
}

.about__item--content {
	padding: 25px 20px;
}

.data__wrap .data__box:first-child .data__item--image {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

.data__item {
	width: 100%;
}

.data__item--content {
	padding: 25px 20px;
}

.data__title {
	font-size: 26px;
}

.main-footer__desc p {
	line-height: 1.6;
}

.info__title {
	font-size: 45px;
}

.contacts__item {
	width: 100%;
}

.contacts__item--info {
	padding: 25px 20px;
}

.contacts__item--data {
	padding: 25px 20px;
}

.contacts__data--phone {
	font-size: 23px;
}

.diagram__title {
	font-size: 23px;
}

.diagram__col {
	margin-bottom: 35px;
}

.diagram__col--content {
	width: 100%;
	padding: 25px 20px;
}

.diagram__col--data {
	width: 100%;
	padding-right: 0px;
}

.diagram__subtitle {
	font-size: 20px;
}

.single {
	margin-top: -350px;
}

.single__content {
	padding: 0 20px;
}

.single__content i {
	line-height: 1.6;
}

}

@media screen and (max-width: 780px) {

.main-header__inner {
	padding: 0 10px;
}

.main-header__row {
	background-color: rgba(0, 0, 0, 0.5);
}

.main-header__block {
	padding: 15px 10px;
}

.main-header__list {
	display: none;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0px;
	z-index: 3;
	position: absolute;
	max-height: -webkit-calc(100vh - 70px);
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

.main-header__list li {
	padding-left: 10px;
}

.main-header__list li:first-child {
	padding-left: 10px;
}

.main-header__list:after {
	display: none;
}

.main-header__link {
	line-height: 1.2;
	padding: 5px 0;
}

.main-header__link.active {
	text-shadow: 0px 0.5px 0px #fff, 0.5px 0px 0px #fff, 0px -0.5px 0px #fff, -0.5px 0px 0px #fff;
}

.mobile-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 7px 20px;
	padding-left: 0px;
	padding-bottom: 8px;
}

.main-nav__toggle {
	display: block;
}

.about {
	margin-top: -300px;
}

.about__row {
	margin-bottom: 50px;
}

.about__text p {
	line-height: 1.5;
}

.data__text p {
	line-height: 1.5;
}

.container--header {
	padding: 0px;
}

.info .stock__wrap {
	margin: 0px;
}

.info .stock__item {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.single {
	margin-top: -300px;
}

}

@media screen and (max-width: 560px) {

.main-header__title {
	padding-left: 15px;
}

.main-header__user {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0px;
	max-width: 350px;
}

.main-header__box {
	margin: 0px;
	margin-bottom: 20px;
}

.about__title {
	font-size: 21px;
	padding-left: 17px;
}

.contacts__block {
	display: block;
}

.contacts__block--msg label {
	padding-top: 0px;
}

.contacts__block label {
	padding-bottom: 12px;
}

.contacts__error {
	margin-left: 0px;
}

}

